# +---------------------------------------------------------------------------+
# | general ignore setup                                                      |
# +---------------------------------------------------------------------------+
# ignore temporary files from editor
*.bak
*.elc
*.swp
*.s
*.tmp
*.vhd.~y.yy~
*.vhd.~

# ignore editor configuration settings
Session.vim
tags

# ignore CVS directories if present
/**/CVS

# ignore all files in simulator work
Simulation/work/

# ignore Riviera-PRO files
Simulation/library.cfg
Simulation/work.acdb
Simulation/dataset.asdb

# ignore ModelSim files
*.wlf
Simulation/modelsim.ini

# ignore quartus database
Synthesis/db/
Synthesis/greybox_tmp/
Synthesis/incremental_db/

# ignore quartus reports and binaries
Synthesis/fpga_files
Synthesis/*.rpt
Synthesis/*.bin
Synthesis/*.dedi
Synthesis/*.done
Synthesis/*.summary
Synthesis/A25_top.hex
Synthesis/*.jam
Synthesis/*.jdi
Synthesis/*.jic
Synthesis/*.pin
Synthesis/*.qsf
Synthesis/*.qws
Synthesis/*.rbf
Synthesis/*.sof
Synthesis/*.old
Synthesis/*.stp

# +---------------------------------------------------------------------------+
# | project specific ignore setup                                             |
# +---------------------------------------------------------------------------+
# C source related ignore settings (only add if needed)
*.o
*.ko
*.obj
*.elf
*.gch
*.pch
*.so
*.out
*.app
# add all your specific ignores here
